# 1. Write an SQL query to retrieve the names and email addresses of all employees from a table named "Employees".

In [ ]:
SELECT name, email
FROM Employees;

In this query, SELECT is used to specify the columns you want to retrieve, which are name and email in this case. FROM is used to specify the table from which you want to retrieve the data, which is "Employees" in this case.

By executing this query, you will get the names and email addresses of all employees stored in the "Employees" table.

# 2. Write an SQL query to filter records from a table named "Customers" where the "City" column is 'New York'.

In [ ]:
SELECT *
FROM Customers
WHERE City = 'New York';

In this query, SELECT * is used to retrieve all columns from the "Customers" table. FROM is used to specify the table from which you want to retrieve the data, which is "Customers" in this case. WHERE is used to specify the condition that the "City" column should be equal to 'New York'.

By executing this query, you will get all the records from the "Customers" table where the "City" column is 'New York'. If you only want to retrieve specific columns, you can replace * with the column names you are interested in.

# 3. Write an SQL query to sort records in descending order based on the "DateOfBirth" column in a table named "Users".

In [ ]:
SELECT *
FROM Users
ORDER BY DateOfBirth DESC;

In this query, SELECT * is used to retrieve all columns from the "Users" table. FROM is used to specify the table from which you want to retrieve the data, which is "Users" in this case. ORDER BY is used to specify the column by which you want to sort the records, which is "DateOfBirth" in this case. The DESC keyword is used to indicate that you want to sort the records in descending order.

By executing this query, you will get all the records from the "Users" table sorted in descending order based on the "DateOfBirth" column. If you only want to retrieve specific columns, you can replace * with the column names you are interested in.

# 4. Write an SQL query to sort records in ascending order based on the "RegistrationDate" column in a table named "Users".

In [ ]:
SELECT *
FROM Users
ORDER BY RegistrationDate ASC;

In this query, SELECT * is used to retrieve all columns from the "Users" table. FROM is used to specify the table from which you want to retrieve the data, which is "Users" in this case. ORDER BY is used to specify the column by which you want to sort the records, which is "RegistrationDate" in this case. The ASC keyword is used to indicate that you want to sort the records in ascending order.

By executing this query, you will get all the records from the "Users" table sorted in ascending order based on the "RegistrationDate" column. If you only want to retrieve specific columns, you can replace * with the column names you are interested in.

# 5. Write an SQL query to find the employee with the highest salary from a table named "Employees" and display their name, position, and salary.

In [ ]:
SELECT name, position, salary
FROM Employees
WHERE salary = (SELECT MAX(salary) FROM Employees);


In this query, SELECT name, position, salary is used to specify the columns you want to retrieve, which are the employee's name, position, and salary. FROM Employees is used to specify the table from which you want to retrieve the data, which is "Employees" in this case. The WHERE clause is used to filter the records based on the condition that the salary should be equal to the maximum salary obtained from the subquery (SELECT MAX(salary) FROM Employees).

By executing this query, you will get the employee with the highest salary from the "Employees" table and display their name, position, and salary. If there are multiple employees with the same highest salary, this query will return all of them.

# 6. Write an SQL query to retrieve records from a table named "Customers" where the "Phone" column matches the pattern '+1-XXX-XXX-XXXX'.

In [ ]:
SELECT *
FROM Customers
WHERE Phone LIKE '+1-___-___-____';


In this query, SELECT * is used to retrieve all columns from the "Customers" table. FROM is used to specify the table from which you want to retrieve the data, which is "Customers" in this case. The WHERE clause is used to filter the records based on the condition that the "Phone" column matches the pattern '+1---___'. The underscore () is a wildcard character that matches any single character.

By executing this query, you will get all the records from the "Customers" table where the "Phone" column matches the specified pattern. If you only want to retrieve specific columns, you can replace * with the column names you are interested in.

# 7. Write an SQL query to retrieve the top 5 customers with the highest total purchase amount from a table named "Orders" and display their names and total purchase amounts.

In [ ]:
SELECT CustomerName, SUM(TotalAmount) AS TotalPurchaseAmount
FROM Orders
GROUP BY CustomerName
ORDER BY TotalPurchaseAmount DESC
LIMIT 5;


In this query, SELECT CustomerName, SUM(TotalAmount) AS TotalPurchaseAmount is used to specify the columns you want to retrieve. The CustomerName column represents the customer's name, and the SUM(TotalAmount) calculates the total purchase amount for each customer. The AS keyword is used to alias the calculated sum column as "TotalPurchaseAmount".

FROM Orders is used to specify the table from which you want to retrieve the data, which is "Orders" in this case. The GROUP BY clause groups the records by the "CustomerName" column, allowing the calculation of the total purchase amount for each customer.

The ORDER BY clause is used to sort the records in descending order based on the total purchase amount. The LIMIT clause limits the result set to the top 5 rows.

By executing this query, you will retrieve the top 5 customers with the highest total purchase amount from the "Orders" table and display their names and total purchase amounts.

# 8. Write an SQL query to calculate the percentage of sales for each product category in a table named "Sales" and display the category name, total sales amount, and the percentage of total sales.

In [ ]:
SELECT CategoryName, SUM(SalesAmount) AS TotalSalesAmount, 
       (SUM(SalesAmount) / (SELECT SUM(SalesAmount) FROM Sales)) * 100 AS PercentageOfTotalSales
FROM Sales
GROUP BY CategoryName;



In this query, SELECT CategoryName, SUM(SalesAmount) AS TotalSalesAmount is used to specify the columns you want to retrieve. The CategoryName column represents the product category name, and the SUM(SalesAmount) calculates the total sales amount for each category.

The subquery (SELECT SUM(SalesAmount) FROM Sales) calculates the total sales amount across all categories. This value is then used to calculate the percentage of total sales for each category by dividing the category's total sales amount by the overall total and multiplying by 100.

FROM Sales is used to specify the table from which you want to retrieve the data, which is "Sales" in this case. The GROUP BY clause groups the records by the "CategoryName" column, allowing the calculation of the total sales amount for each category.

By executing this query, you will retrieve the category name, total sales amount, and the percentage of total sales for each product category in the "Sales" table.

# 9. Write an SQL query to find the customers who have made the highest total purchases across all years from a table named "Orders" and display their names, email addresses, and the total purchase amount.

In [ ]:
SELECT Customers.Name, Customers.Email, SUM(Orders.PurchaseAmount) AS TotalPurchaseAmount
FROM Customers
JOIN Orders ON Customers.CustomerID = Orders.CustomerID
GROUP BY Customers.CustomerID, Customers.Name, Customers.Email
HAVING SUM(Orders.PurchaseAmount) = (
    SELECT MAX(TotalPurchaseAmount)
    FROM (
        SELECT SUM(PurchaseAmount) AS TotalPurchaseAmount
        FROM Orders
        GROUP BY CustomerID
    ) AS Subquery
);


In this query, SELECT Customers.Name, Customers.Email, SUM(Orders.PurchaseAmount) AS TotalPurchaseAmount is used to specify the columns you want to retrieve. The Customers.Name and Customers.Email columns represent the customer's name and email address, respectively. The SUM(Orders.PurchaseAmount) calculates the total purchase amount for each customer.

FROM Customers JOIN Orders ON Customers.CustomerID = Orders.CustomerID is used to join the "Customers" and "Orders" tables based on the "CustomerID" column.

The GROUP BY Customers.CustomerID, Customers.Name, Customers.Email groups the records by the customer's ID, name, and email address.

The HAVING SUM(Orders.PurchaseAmount) = (SELECT MAX(TotalPurchaseAmount) FROM (SELECT SUM(PurchaseAmount) AS TotalPurchaseAmount FROM Orders GROUP BY CustomerID) AS Subquery) filters the result to only include the customers who have the highest total purchase amount. It uses a subquery to calculate the maximum total purchase amount across all customers.

By executing this query, you will retrieve the names, email addresses, and total purchase amounts of the customers who have made the highest total purchases across all years from the "Orders" table.